.offers{
  width: 92%;
  height: 100vh;
  display: flex;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30vh;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}

.offers-left{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 180px;
  line-height: 1.1;;
}

.offers-left h1 {
  columns: #171717;
  font-size: 50px;
  font-weight: 600;

}

.offers-left button{
  width: 280px;
  height: 70px;
  border-radius: 35px;
  background: #ff4141;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-top: 30px;
  cursor: pointer;
}

.offers-right{
  flex: 1;
  padding-top: 50px;
}

